<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="header-background"></div>

  <div class="profile-info">
    <ion-avatar class="user-avatar">
      <img [src]="urlImagen" alt="Usuario" />
    </ion-avatar>
    <ion-label class="user-name">{{ nombreUsuario }}</ion-label>
  </div>
  
  <ion-card class="user-card">
    </ion-card>
  
  <ion-card class="contact-card">
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-icon aria-hidden="true" [name]="iconoTelefono" slot="start" class="contact-icon"></ion-icon>
          <ion-label>{{ numeroTelefono }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon aria-hidden="true" [name]="iconoIdentificacion" slot="start" class="contact-icon"></ion-icon>
          <ion-label>{{ numeroIdentificacion }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon aria-hidden="true" [name]="iconoCorreo" slot="start" class="contact-icon"></ion-icon>
          <ion-label>{{ correo }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>