<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <div class="home-header">
    <ion-avatar class="home-avatar">
      <img [src]="urlLogo" alt="Logo">
    </ion-avatar>
    <h2 class="home-title">{{ nombreApp }}</h2>
  </div>

  <ion-card class="home-card">
    <ion-card-header>
      <ion-card-title>Datos de usuario</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list class="home-list">
        <ion-item>
          <ion-input name="usuario" placeholder="usuario" [(ngModel)]="usuario"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input name="direccion" placeholder="dirección entrega" [(ngModel)]="direccion"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input name="pais" placeholder="país" [(ngModel)]="pais"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input name="ciudad" placeholder="ciudad" [(ngModel)]="ciudad"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input name="idioma" placeholder="idioma" [(ngModel)]="idioma"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input name="moneda" placeholder="moneda" [(ngModel)]="moneda"></ion-input>
        </ion-item>
      </ion-list>

      <ion-button expand="block" color="success" (click)="guardar()">Guardar</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
