<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <div class="ion-text-center">
    <ion-avatar>
      <img [src]="logoUrl" alt="Logo">
    </ion-avatar>
    <p>Property binding</p>
  </div>

  <div class="ion-text-center ion-margin-top">
    <h2>{{ nameApp }}</h2>
    <p>Interpolación</p>
  </div>

  <ion-list class="ion-margin-top">
    <ion-item>
      <ion-input placeholder="usuario" [(ngModel)]="usuario"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="dirección entrega" [(ngModel)]="direccion"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="país" [(ngModel)]="pais"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="ciudad" [(ngModel)]="ciudad"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="idioma" [(ngModel)]="idioma"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="moneda" [(ngModel)]="moneda"></ion-input>
    </ion-item>
    <p class="ion-text-center">Two way binding</p>
  </ion-list>

  <div class="ion-text-center ion-margin-top">
    <ion-button expand="block" color="success" (click)="save()">
      Guardar
    </ion-button>
    <p>Event binding</p>
  </div>

</ion-content>
