<ion-card>
  <ion-card-header>
    <ion-card-title>Nuevo Producto</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <form [formGroup]="formularioProducto" (ngSubmit)="guardarProducto()">
      <ion-list>
        <ion-item [class.ion-invalid]="formularioProducto.get('title')?.invalid && formularioProducto.get('title')?.touched">
          <ion-input formControlName="title" placeholder="Título"></ion-input>
          <div *ngIf="formularioProducto.get('title')?.invalid && formularioProducto.get('title')?.touched" class="ion-text-danger">
            El título es requerido.
          </div>
        </ion-item>

        <ion-item [class.ion-invalid]="formularioProducto.get('price')?.invalid && formularioProducto.get('price')?.touched">
          <ion-input type="number" formControlName="price" placeholder="Precio"></ion-input>
          <div *ngIf="formularioProducto.get('price')?.invalid && formularioProducto.get('price')?.touched" class="ion-text-danger">
            El precio es requerido y debe ser mayor a 0.
          </div>
        </ion-item>
        
        <ion-item [class.ion-invalid]="formularioProducto.get('description')?.invalid && formularioProducto.get('description')?.touched">
          <ion-input formControlName="description" placeholder="Descripción"></ion-input>
          <div *ngIf="formularioProducto.get('description')?.invalid && formularioProducto.get('description')?.touched" class="ion-text-danger">
            La descripción es requerida.
          </div>
        </ion-item>

        <ion-item [class.ion-invalid]="formularioProducto.get('category')?.invalid && formularioProducto.get('category')?.touched">
          <ion-input formControlName="category" placeholder="Categoría"></ion-input>
          <div *ngIf="formularioProducto.get('category')?.invalid && formularioProducto.get('category')?.touched" class="ion-text-danger">
            La categoría es requerida.
          </div>
        </ion-item>

        <ion-item [class.ion-invalid]="formularioProducto.get('image')?.invalid && formularioProducto.get('image')?.touched">
          <ion-input formControlName="image" placeholder="URL de la imagen"></ion-input>
          <div *ngIf="formularioProducto.get('image')?.invalid && formularioProducto.get('image')?.touched" class="ion-text-danger">
            La URL de la imagen es requerida.
          </div>
        </ion-item>
      </ion-list>

      <ion-button expand="block" type="submit" [disabled]="formularioProducto.invalid">Guardar Producto</ion-button>
    </form>
  </ion-card-content>
</ion-card>

